<nav>
	<h1><a href="/">Lorem</a></h1>
	<div class="links">
		<a href="/" class="link">Home</a>
		<a href="/compose" class="link">Compose</a>
		<a href="/about" class="link">About</a>
		<a href="/contact" class="link">Contact</a>
	</div>
	<div class="mobileNav">
		<h2 class="button" id="button">&ReverseElement;</h2>
	</div>
</nav>
<div class="mobileLinks" id="mobileLinks">
	<a href="/" class="link">Home</a>
	<a href="/compose" class="link">Compose</a>
	<a href="/about" class="link">About</a>
	<a href="/contact" class="link">Contact</a>
</div>
<script src="index.js"></script>
