<%- include("partials/header"); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <label>Title</label>
  <input type="text" name="title" />
  <label>Message / Blog</label>
  <textarea name="someweirdstuff"></textarea>
  <button type="submit" name="publish">Publish</button>
</form>
<%- include("partials/footer"); -%>
