/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* GLOBALS */
* {
	margin: 0;
	padding: 0;
	font-family: "Inter";
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.flex {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.flexColumn {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex: wrap;
	text-align: center;
}

/* NAVBAR */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.mobileNav {
	display: none;
}

.mobileLinks {
	display: none;
}

.links {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.link {
	transition-property: font-weight border-bottom;
	transition-duration: 500ms;
	transition-timing-function: ease-in;
}

.link:hover,
.link:focus {
	font-weight: bold;
	outline: none;
	border-bottom: 2px black solid;
}

/* FOOTER */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1.5px grey solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* HOME */
main {
	padding: 2em;
}

.intro {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 1.5em;
}

.text {
	width: 50%;
}

.text p {
	padding-bottom: 2em;
}

.compose {
	padding: 1em;
	background-color: #2977f5;
	color: white;
	border-radius: 10px;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em;
	flex-wrap: wrap;
}

.card {
	padding: 1em;
	margin: 1em;
	background: rgb(195, 194, 194);
	border-radius: 10px;
	flex-basis: 25%;
}

.card h4 {
	color: rgb(40, 40, 40);
}

/* ABOUT */
.aText {
	margin-inline: 25%;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* POST */
.post {
	display: flex;
	justify-self: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}

.post p {
	padding-top: 1em;
	padding-bottom: 1.5em;
}

/* ERROR */
.err {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 10%;
}

/* MEDIA QUERY */
@media screen and (max-width: 765px) {
	.intro {
		flex-direction: column-reverse;
	}

	.card {
		flex-basis: 35%;
	}

	.text {
		width: 100%;
	}

	.intro {
		justify-content: center;
		text-align: center;
	}

	.links {
		display: none;
	}

	img {
		height: 10em;
		width: 15em;
	}
	.mobileNav {
		font-weight: bold;
		z-index: 2;
		cursor: pointer;
		display: flex;
	}

	.button {
		font-size: 2em;
	}

	.visible {
		display: flex;
	}
	.mobileLinks {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 7%;
		right: 0;
		width: 100%;
		padding: 5% 0;
		background-color: #d3d3d3e2;
		box-shadow: 0 0 0 100vmax #d3d3d3e2;
		gap: 1em;
	}
}
