/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* GLOBALS */
* {
	margin: 0;
	padding: 0;
	font-family: 'Inter';
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexColumn {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex: wrap;
}

/* NAVBAR */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}

.links {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.link {
	transition-property: font-weight border-bottom;
	transition-duration: 500ms;
	transition-timing-function: ease-in;
}

.link:hover,
.link:focus {
	font-weight: bold;
	outline: none;
	border-bottom: 2px black solid;
}

/* FOOTER */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1.5px grey solid;
	padding-top: 10px;
}

/* HOME */
main {
	padding: 2em;
}

.intro {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.text {
	width: 50%;
}

/* ABOUT */
.aText {
	margin-inline: 25%;
	margin-top: 1em;
	margin-bottom: 1em;
}
